.color-nav {
  background-color: #b9e5d9 !important;
  color: #0A4D35 !important;
}

h1, p, option {
  color:#0A4D35;
}

.green {
  color:#0A4D35
}

.submitbtn {
  background-color: #b9e5d9 !important;
  color: #0A4D35 !important;
  border-color:#0A4D35 !important;

}

.submitbtn:hover {
  background-color: #0A4D35 !important;
  color: #b9e5d9 !important;
}

a:hover, a:active {
  background-color: #0A4D35 !important;
  color: #b9e5d9 !important;
  border-radius: 4px;
  padding: 8px;
}

body {
  background-image: url(./assets/teal-white-and-pink-paint-1561020.jpg);
}

.remove {
  display: inline;
  float: right;
  background-color: #0A4D35 !important;
  color: #b9e5d9 !important;
  border-color: #0A4D35 !important;
}

.remove:hover {
  background-color: #b9e5d9 !important;
  color: #0A4D35 !important;
}

.route-wrapper {
  position: relative;
}