.color-nav {
  background-color: #b9e5d9;
  color: #0A4D35 !important;
}

h1, p, option {
  color:#0A4D35;
}

.green {
  color:#0A4D35
}

.submitbtn {
  background-color: #b9e5d9 !important;
  color: #0A4D35 !important;
  border-color:#0A4D35 !important;

}

.submitbtn:hover {
  background-color: #0A4D35 !important;
  color: #b9e5d9 !important;
}